<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite parallel="tests" name="Suite">

  <test name="Test1">
    <classes>
      <class name="Lab_ParalalTesting_Tests.TC01_Add_jobs"/>
    </classes>
  </test> <!-- Test -->



  <test name="Test2">
 <classes>
      <class name="Lab_ParalalTesting_Tests.LP01_OpenBrowser"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->